<%- include('partials/logHeader') %>
<section class="cpm-exe-sec color2-sec">
  <h2 class="sec-head">CPM Exercise</h2>
  <div class="container-fluid">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Activity</th>
          <th scope="col">Duration</th>
          <th scope="col">Predecessors</th>
        </tr>
      </thead>
      <tbody>
        <% for (var i = 0; i < proj.size; i++) { %>
          <tr>
            <th scope="row"><%=i+1%></th>
            <td><%=proj.activities[i]%></td>
            <td><%=proj.durations[i]%></td>
            <td><%=proj.predNames[i]%></td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</section>

<section class="cpm-sol-sec color3-sec">
  <h2 class="sec-head">CPM Solution</h2>
  <div class="container-fluid">

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Activity</th>
          <th scope="col">EST</th>
          <th scope="col">EFT</th>
          <th scope="col">LST</th>
          <th scope="col">LFT</th>
          <th scope="col">Floats</th>
        </tr>
      </thead>
      <tbody>
        <% for (var i = 0; i < proj.size; i++) { %>
          <tr>
            <th scope="row"><%=i+1%></th>
            <td><%=proj.activities[i]%></td>
            <td><%=proj.es[i]%></td>
            <td><%=proj.ef[i]%></td>
            <td><%=proj.ls[i]%></td>
            <td><%=proj.lf[i]%></td>
            <td><%=proj.floats[i]%></td>
          </tr>
        <% } %>
      </tbody>
    </table>

    <table class="table table-hover table-cpm">
      <thead>
        <tr>
          <th scope="col">Project Duration (=max(EFT) or max(LFT))</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%=proj.makespan%></td>
        </tr>
      </tbody>
    </table>

    <table class="table table-hover table-cpm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Critical Path</th>
          <th scope="col">Cumulative Duration</th>
        </tr>
      </thead>
      <tbody>
        <% for (var i = 0; i < proj.cpNr; i++) { %>
          <tr>
            <th scope="row"><%=i+1%></th>
            <td><%=proj.cpNames[i]%></td>
            <td><%=proj.makespan%></td>
          </tr>
        <% } %>
      </tbody>
    </table>

  </div>
</section>

<%- include('partials/footer') %>
