<%- include('partials/logHeader', {user: user}) %>
<section class="exe-sec color2-sec">
  <h2 class="sec-head">Resource Leveling Exercise</h2>
  <div class="container-fluid">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Activity</th>
          <th scope="col">Duration</th>
          <th scope="col">Predecessors</th>
          <th scope="col">Resources</th>
        </tr>
      </thead>
      <tbody>
        <% for (var i = 0; i < proj.n; i++) { %>
          <tr>
            <th scope="row"><%=i+1%></th>
            <td><%=proj.names[i]%></td>
            <td><%=proj.durations[i]%></td>
            <td><%=proj.predStrings[i]%></td>
            <td><%=proj.resources[i]+1%></td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</section>

<section class="sol-sec color3-sec">
  <h2 class="sec-head">RL Solution</h2>
  <div class="container-fluid">

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Priority Level</th>
          <th scope="col">Activity</th>
          <th scope="col">SGS Start Time</th>
          <th scope="col">PGS Start Time</th>
        </tr>
      </thead>
      <tbody>
        <% for (var i = 0; i < proj.n; i++) { %>
          <tr>
            <th scope="row"><%=i+1%></th>
            <td><%=proj.names[proj.priorities[i]]%></td>
            <td><%=proj.serialSt[proj.priorities[i]]%></td>
            <td><%=proj.parallelSt[proj.priorities[i]]%></td>
          </tr>
        <% } %>
      </tbody>
    </table>

    <table class="table table-hover sol-table">
      <thead>
        <tr>
          <th scope="col">Generation Scheme</th>
          <th scope="col">Total Duration</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <th scope="row">Serial</th>
            <td><%=proj.serialMakespan%></td>
          </tr>
          <tr>
            <th scope="row">Parallel</th>
            <td><%= proj.parallelMakespan %></td>
          </tr>
      </tbody>
    </table>

  </div>
</section>

<table class="timetable">
  <thead>
    <tr>
      <th scope="col" style="width: 100px; border-right: 1px solid;">Resource</th>
      <th scope="col" colspan="<%=proj.serialMakespan+1%>">Serial Schedule Generation</th>
    </tr>
  </thead>
  <tbody>
    <% for (var r = 0; r < proj.rNr; r++) { %>
      <tr>
        <th scope="row" style="border-top: 1px solid; border-bottom: 1px solid; border-top: 1px solid;"><%=r+1%></th>
        <% for (var t = 0; t < proj.serialMakespan+1; t++) { %>
          <% var schBool = false; %>
          <% for (var i = 0; i < proj.n; i++) { %>
            <%if ((proj.resources[i] === r) && (proj.serialSt[i] === t)) {%>
              <td colspan="<%=proj.durations[i]%>" style="border: 1px solid; background-color:#95E1D3"><%=proj.names[i]%></td>
              <% schBool = true; %>
              <% t = t + proj.durations[i] - 1;%>
              <% break; %>
            <%}%>
          <%}%>
          <% if (!schBool) { %>
            <td style="border: 1px solid;"> </td>
          <%}%>
        <%}%>
      </tr>
    <% } %>
    <tr>
      <th></th>
      <% for (var t = 0; t < proj.serialMakespan+1; t++) { %>
        <td><%=t%></td>
      <%}%>
    </tr>
  </tbody>
</table>

<table class="timetable">
  <thead>
    <tr>
      <th scope="col" style="width: 100px; border-right: 1px solid;">Resource</th>
      <th scope="col" colspan="<%=proj.parallelMakespan+1%>">Parallel Schedule Generation</th>
    </tr>
  </thead>
  <tbody>
    <% for (var r = 0; r < proj.rNr; r++) { %>
      <tr>
        <th scope="row" style="border-top: 1px solid; border-bottom: 1px solid; border-top: 1px solid;"><%=r+1%></th>
        <% for (var t = 0; t < proj.parallelMakespan+1; t++) { %>
          <% var schBool = false; %>
          <% for (var i = 0; i < proj.n; i++) { %>
            <%if ((proj.resources[i] === r) && (proj.parallelSt[i] === t)) {%>
              <td colspan="<%=proj.durations[i]%>" style="border: 1px solid; background-color:#95E1D3"><%=proj.names[i]%></td>
              <% schBool = true; %>
              <% t = t + proj.durations[i] - 1;%>
              <% break; %>
            <%}%>
          <%}%>
          <% if (!schBool) { %>
            <td style="border: 1px solid;"> </td>
          <%}%>
        <%}%>
      </tr>
    <% } %>
    <tr>
      <th></th>
      <% for (var t = 0; t < proj.parallelMakespan+1; t++) { %>
        <td><%=t%></td>
      <%}%>
    </tr>
  </tbody>
</table>

<%- include('partials/footer') %>
